.testimonials{
    padding: 69px 0 160px;

    &__head{

        @include flex-all-between;
margin-bottom: 48px;
    }

    &__title{
        max-width: 530px;
        font-weight: 600;
letter-spacing: -0.04em;
color: var(--neutral-color-100);
    }
    &__descr{
        max-width: 376px;
        font-weight: 500;
line-height: 178%;
color: var(--neutral-color-150);
    }


    &__rating{
        @include flex-align-center;

        gap: 8px;
        margin-bottom: 19px;
        &-num{

            font-weight: 500;
            line-height: 162%;
            color: var(--neutral-color-100);
        }
    }
    &__slider{
// ::before{
//             content: '';
//             display: inline-block;
//             width: 115px;
//             height: 77px;
//             background: url(./icons/quotes.svg);
//         }
max-width: 898px;
    }
    &__comments{


        
    }
    &__comment{
        
        &-text{
            margin-bottom: 40px;
            font-weight: 500;
line-height: 130%;
letter-spacing: -0.03em;
color: var(--neutral-color-100);
        }
        &-author{
            @include flex-align-center;
            gap: 24px;
            font-style: normal;

            &-avatar{
                border-radius: 50%;
                overflow: hidden;
            }
            &-name{
                font-weight: 600;
line-height: 144%;
color: var(--neutral-color-100);
            }

            &-prof{
                font-weight: 500;
                line-height: 162%;
                color: var(--neutral-color-150);
            }
        }
    }
}