<section class="customers decors">
  <div class="container">
    <div class="customers__head">
      <h2 class="customers__head-title heading-h2">
        Meet our team of creators, designers, and world-class problem solvers
      </h2>
      <p class="customers__head-descr text-p-medium">
        To become the company that customers want, it takes a group of
        passionate people. Get to know the people who lead
      </p>
    </div>

    <div class="swiper customers__slider">
      <div class="customers__slider-btns">
        <svg
          width="28"
          height="18"
          viewBox="0 0 28 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="swiper-wrapper customers__wrapper">
        <div class="swiper-slide customers__article">
          <img
            loading="lazy"
            class="customers__article-img"
            src="../../../assets/images/customers-2.jpg"
            width="379"
            height="434"
            alt="Woman typing on laptop and wrting on a notebook"
          />
          <div class="customers__article-info text-p-small">
            <div class="customers__article-author">
              <h4 class="customers__article-author-name">Katy Cristy</h4>
              <p class="customers__article-author-prof">
                Chief Technology Officer
              </p>
            </div>
            <ul class="customers__article-info-socials">
              <li class="customers__article-info-socials-item">
                <a href="#" class="customers__article-info-socials-link">
                  <img
                    src="../../../assets/icons/socials-customers-1.svg"
                    alt=""
                  />
                </a>
              </li>
              <li class="customers__article-info-socials-item">
                <a href="#" class="customers__article-info-socials-link">
                  <img
                    src="../../../assets/icons/socials-customers-2.svg"
                    alt=""
                  />
                </a>
              </li>
              <li class="customers__article-info-socials-item">
                <a href="#" class="customers__article-info-socials-link">
                  <img
                    src="../../../assets/icons/socials-customers-3.svg"
                    alt=""
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide customers__article">
          <img
            loading="lazy"
            class="customers__article-img"
            src="../../../assets/images/customers-3.jpg"
            width="379"
            height="434"
            alt="Woman typing on laptop and wrting on a notebook"
          />
          <div class="customers__article-info text-p-small">
            <div class="customers__article-author">
              <h4 class="customers__article-author-name">Roger Dzawin</h4>
              <p class="customers__article-author-prof">
                Chief Technology Officer
              </p>
            </div>
            <ul class="customers__article-info-socials">
              <li class="customers__article-info-socials-item">
                <a href="#" class="customers__article-info-socials-link">
                  <img
                    src="../../../assets/icons/socials-customers-1.svg"
                    alt=""
                  />
                </a>
              </li>
              <li class="customers__article-info-socials-item">
                <a href="#" class="customers__article-info-socials-link">
                  <img
                    src="../../../assets/icons/socials-customers-2.svg"
                    alt=""
                  />
                </a>
              </li>
              <li class="customers__article-info-socials-item">
                <a href="#" class="customers__article-info-socials-link">
                  <img
                    src="../../../assets/icons/socials-customers-3.svg"
                    alt=""
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide customers__article">
          <img
            loading="lazy"
            class="customers__article-img"
            src="../../../assets/images/customers-3.jpg"
            width="379"
            height="434"
            alt="Woman typing on laptop and wrting on a notebook"
          />
          <div class="customers__article-info text-p-small">
            <div class="customers__article-author">
              <h4 class="customers__article-author-name">Roger Dzawin</h4>
              <p class="customers__article-author-prof">
                Chief Technology Officer
              </p>
            </div>
            <ul class="customers__article-info-socials">
              <li class="customers__article-info-socials-item">
                <a href="#" class="customers__article-info-socials-link">
                  <img
                    src="../../../assets/icons/socials-customers-1.svg"
                    alt=""
                  />
                </a>
              </li>
              <li class="customers__article-info-socials-item">
                <a href="#" class="customers__article-info-socials-link">
                  <img
                    src="../../../assets/icons/socials-customers-2.svg"
                    alt=""
                  />
                </a>
              </li>
              <li class="customers__article-info-socials-item">
                <a href="#" class="customers__article-info-socials-link">
                  <img
                    src="../../../assets/icons/socials-customers-3.svg"
                    alt=""
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide customers__article">
          <img
            loading="lazy"
            class="customers__article-img"
            src="../../../assets/images/customers-1.jpg"
            width="379"
            height="434"
            alt="Woman typing on laptop and wrting on a notebook"
          />
          <div class="customers__article-info text-p-small">
            <div class="customers__article-author">
              <h4 class="customers__article-author-name">Arlyne Stefano</h4>
              <p class="customers__article-author-prof">Founder & CEO</p>
            </div>
            <ul class="customers__article-info-socials">
              <li class="customers__article-info-socials-item">
                <a href="#" class="customers__article-info-socials-link">
                  <img
                    src="../../../assets/icons/socials-customers-1.svg"
                    alt=""
                  />
                </a>
              </li>
              <li class="customers__article-info-socials-item">
                <a href="#" class="customers__article-info-socials-link">
                  <img
                    src="../../../assets/icons/socials-customers-2.svg"
                    alt=""
                  />
                </a>
              </li>
              <li class="customers__article-info-socials-item">
                <a href="#" class="customers__article-info-socials-link">
                  <img
                    src="../../../assets/icons/socials-customers-3.svg"
                    alt=""
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="customers__team">
      <h3 class="customers__team-title heading-h2">
        Join our team, The one with the master touch
      </h3>
      <div class="customers__team-descr">
        <p class="customers__team-descr-info text-p-medium">
          We believe it takes great people to make a great product. That’s why
          we hire not only the perfect professional fits, but people who embody
          our company values.
        </p>
        <a href="#" class="customers__team-descr-link text-p-default">See Open Position -> </a>
      </div>
    </div>
  </div>
</section>
