<section class="hero">
  <div class="container hero__container">
    <div class="hero__text">
      <h2 class="hero__title heading-h1">
        Everything you need to get the attention of your audience
      </h2>
      <p class="hero__subtitle text-p-subtitle">
        Our digital agency helps clients develop, implement and maintain
        successful digital marketing strategies across all channels. Also work
        with you to build your website and create online businesses that grow.
      </p>
    </div>

    <a href="#" class="hero__touch-link">
        <img
          loading="lazy"
          width="162"
          height="162"
          class="hero__touch-img"
          src="../../../assets/icons/get-in-touch.svg"
          alt=""
        />
    </a>

    <div class="swiper hero__slider">
      <div class="hero__slider-btns">
        <svg
          width="28"
          height="18"
          viewBox="0 0 28 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="swiper-wrapper hero__wrapper">
        <div class="swiper-slide hero__article">
          <img
            loading="lazy"
            class="hero__article-img"
            src="../../../assets/images/slide-hero-1.jpg"
            width="582"
            height="332"
            alt="Woman typing on laptop and wrting on a notebook"
          />
        </div>
        <div class="swiper-slide hero__article">
          <img
            loading="lazy"
            class="hero__article-img"
            src="../../../assets/images/slide-hero-2.jpg"
            width="582"
            height="332"
            alt="Woman typing on laptop and wrting on a notebook"
          />

          <h3 class="hero__article-title heading-h5">What we believe in</h3>
          <p class="hero__article-descr">
            Over the years at Sans, we’ve put a lot of thought into what it is
            that makes us who we are. The qualities that unite us, that make us
            such an effective team, and...
          </p>
          <button class="hero__article-button">See Details -></button>
        </div>
        <div class="swiper-slide hero__article">
          <img
            loading="lazy"
            class="hero__article-img"
            src="../../../assets/images/slide-hero-1.jpg"
            width="582"
            height="332"
            alt="Woman typing on laptop and wrting on a notebook"
          />
        </div>
        <div class="swiper-slide hero__article">
          <img
            loading="lazy"
            class="hero__article-img"
            src="../../../assets/images/slide-hero-2.jpg"
            width="582"
            height="332"
            alt="Woman typing on laptop and wrting on a notebook"
          />

          <h3 class="hero__article-title heading-h5">What we believe in</h3>
          <p class="hero__article-descr">
            Over the years at Sans, we’ve put a lot of thought into what it is
            that makes us who we are. The qualities that unite us, that make us
            such an effective team, and...
          </p>
          <button class="hero__article-button">See Details -></button>
        </div>
      </div>
    </div>
    <div class="hero__ideas">
      <h3 class="hero__ideas-title heading-h2">
        Powerful ideas & sales acceleration
      </h3>
      <p class="hero__ideas-descr text-p-large">
        We are a software development firm specializing in digital products. We
        build beautiful, functional and cross-platform solutions that are
        accessible to all.
      </p>
    </div>
  </div>
</section>
