<section class="audience decors">
  <div class="container audience__container">
    <div class="audience__text">
      <h2 class="audience__title heading-h1">Activity & Updates</h2>
      <p class="audience__subtitle text-p-subtitle">
        Our biggest challenge is making sure we're always designing and building
        products that will help you run your business better.
      </p>
    </div>
    <ul class="audience__list text-p-default">
        <li class="audience__item">
            <a href="#" class="audience__link">View all</a>
        </li>
        <li class="audience__item">
            <a href="#" class="audience__link">Design</a>
        </li>
        <li class="audience__item">
            <a href="#" class="audience__link">Articles</a>
        </li>
        <li class="audience__item">
            <a href="#" class="audience__link">Product</a>
        </li>
        <li class="audience__item">
            <a href="#" class="audience__link">Software Development</a>
        </li>
        <li class="audience__item">
            <a href="#" class="audience__link">Customer Success</a>
        </li>
    </ul>
    <div class="swiper audience__slider">
      <div class="audience__slider-btns">
        <svg
          width="28"
          height="18"
          viewBox="0 0 28 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="swiper-wrapper audience__wrapper">
        <div class="swiper-slide audience__article">
          <img
            loading="lazy"
            class="audience__article-img"
            src="../../../assets/images/overview-audience.jpg"
            width="582"
            height="332"
            alt="Woman typing on laptop and wrting on a notebook"
          />
          <div class="audience__article-head text-p-small">
            <div class="audience__article-date">
                Published in Insight 
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
          </div>
          <h3 class="audience__article-title heading-h5">
            Practice making User Flow
          </h3>
          <p class="audience__article-descr">
            In this article, we'll cover how to create user flows
          </p>
        </div>
        <div class="swiper-slide audience__article">
          <img
            loading="lazy"
            class="audience__article-img"
            src="../../../assets/images/practice-audience.jpg"
            width="582"
            height="332"
            alt="Man typing on"
          />
          <div class="audience__article-head text-p-small">
            <div class="audience__article-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
          </div>
          <h3 class="audience__article-title heading-h5">
            Overview of the Design Principles
          </h3>
          <p class="audience__article-descr">
            What are Design Principles?… To understand design principles, we first discuss the principles. 
          </p>
        </div>
        <div class="swiper-slide audience__article">
          <img
            loading="lazy"
            class="audience__article-img"
            src="../../../assets/images/overview-audience.jpg"
            width="582"
            height="332"
            alt="Woman typing on laptop and wrting on a notebook"
          />
          <div class="audience__article-head text-p-small">
            <div class="audience__article-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
          </div>
          <h3 class="audience__article-title heading-h5">
            Practice making User Flow
          </h3>
          <p class="audience__article-descr">
            In this article, we'll cover how to create user flows
          </p>
        </div>
        <div class="swiper-slide audience__article">
          <img
            loading="lazy"
            class="audience__article-img"
            src="../../../assets/images/practice-audience.jpg"
            width="582"
            height="332"
            alt="Man typing on"
          />
          <div class="audience__article-head text-p-small">
            <div class="audience__article-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
          </div>
          <h3 class="audience__article-title heading-h5">
            Overview of the Design Principles
          </h3>
          <p class="audience__article-descr">
            What are Design Principles?… To understand design principles, we first discuss the principles. 
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
