<section class="hero decors">
  <div class="container hero__container">
    <div class="hero__left">
      <h2 class="hero__title">Digitally forward creative</h2>
      <p class="hero__subtitle text-p-subtitle">
        When it comes to interactive <br />
        marketing, we've got you covered. <br />
        Be where the world is going
      </p>
      <form action="" class="hero__form">
        <input
          type="email"
          class="hero__input"
          placeholder="Enter your email"
          required
        />
        <button class="hero__btn button-form">Try for free</button>
      </form>
    </div>
    <div class="hero__right">
      <div class="hero__sales">
        <h3 class="hero__sales-title">Sales Report</h3>
        <img
          src="./assets/icons/sales-reports-icon.svg"
          alt="Sales report graphic"
          width="366"
          height="260"
        />
      </div>
      <div class="hero__customer">
        <h3 class="hero__customer-title">Customer</h3>
        <img
          src="./assets/icons/Customer-growth-graph.svg"
          alt="Customer growth graphic"
          width="177"
          height="149"
        />
      </div>
      <table class="hero__stats">
        <thead class="hero__stats-head">
          <tr class="hero__stats-head-row">
            <th class="hero__stats-head-th">Sales</th>
            <th class="hero__stats-head-th">Marceting</th>
          </tr>
        </thead>
        <tbody class="hero__stats-body">
          <tr class="hero__stats-body-row">
            <td class="hero__stats-body-td">$31,092</td>
            <td class="hero__stats-body-td">$29.128</td>
          </tr>
          <tr class="hero__stats-body-row">
            <td class="hero__stats-body-td">
              <span class="hero__stats-body-num hero__stats-body-num--green">
                <svg
                  width="11"
                  height="12"
                  viewBox="0 0 11 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1.79962 4.99536L5.55066 1.2464L9.29962 4.99743"
                    stroke="#60D39C"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M5.54817 10.2463L5.55066 1.24634"
                    stroke="#60D39C"
                    stroke-width="2"
                    stroke-linecap="round"
                  />
                </svg>
                4.2%</span
              >
              <span class="hero__stats-body-text">from last year</span>
            </td>
            <td class="hero__stats-body-td">
              <span class="hero__stats-body-num hero__stats-body-num--red">
                <svg
                  width="11"
                  height="12"
                  viewBox="0 0 11 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1.83811 6.52843L5.55922 10.3071L9.33788 6.58599"
                    stroke="#E35454"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M5.62827 1.30739L5.5592 10.3071"
                    stroke="#E35454"
                    stroke-width="2"
                    stroke-linecap="round"
                  />
                </svg>
                1.2%</span
              >
              <span class="hero__stats-body-text">from last year</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
