<section class="str">
  <div class="container str__container">
    <ul class="str__list">
      <li class="str__item">
        <p class="str__item-text text-p-default">
          <span class="str__item-num"> 17k </span>
          happy customers on worldwide
        </p>
      </li>
      <li class="str__item">
        <p class="str__item-text text-p-default">
          <span class="str__item-num"> 15+ </span>
          Hours of work experience
        </p>
      </li>
      <li class="str__item">
        <p class="str__item-text text-p-default">
          <span class="str__item-num"> 50+ </span>
          Creativity & passionate members
        </p>
      </li>
      <li class="str__item">
        <p class="str__item-text text-p-default">
          <span class="str__item-num"> 100+ </span>
          Integrations lorem ipsum integrations
        </p>
      </li>
    </ul>
    <img
      class="str__img"
      loading="lazy"
      src="../../../assets/images/strength-img.jpg"
      width="1200"
      height="536"
      alt="Group of people"
    />
    <div class="str__info">
      <h2 class="str__title heading-h2">
        Lift your business to new heights with our digit al marketing services
      </h2>
      <p class="str__descr text-p-medium">
        To build software that gives customer facing teams in small and
        medium-sized businesses the ability to create rewarding and long-lasting
        relationships with customers
      </p>
    </div>
  </div>
</section>
