<section class="testimonials">
  <div class="container">
    <div class="testimonials__head">
      <h2 class="testimonials__title heading-h2">
        What our customer are saying
      </h2>
      <p class="testimonials__descr text-p-medium">
        We are trusted numerous companies from different business to meet their
        needs
      </p>
    </div>
    <div class="testimonials__slider-wrapper">
      <div class="testimonials__slider-wrapper-svg">
        <svg
          width="115"
          height="77"
          viewBox="0 0 115 77"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M44.3282 77H0L28.37 0H57.5L44.3282 77ZM101.828 77H57.7533L86.1234 0H115L101.828 77Z"
            fill="#EDEDED"
          />
        </svg>
      </div>
      <div class="swiper testimonials__slider">
        <div class="swiper-wrapper testimonials__comments">
          <div class="swiper__slide testimonials__comment">
            <div class="testimonials__rating">
              <img
                loading="lazy"
                src="./assets/icons/stars.svg"
                alt="Five stars"
                width="32"
                height="20"
              />
              <span class="testimonials__rating-num"> 5.0 </span>
            </div>
            <p class="testimonials__comment-text heading-h3">
              “With Agency the results are very satisfying. wrapped with Hight
              quality and innovative design that makes a surge of visitors on my
              website”
            </p>
            <address class="testimonials__comment-author">
              <img
                loading="lazy"
                class="testimonials__comment-author-avatar"
                width="56"
                height="56"
                src="./assets/images/comment-author-1.jpg"
                alt=""
              />
              <div class="testimonials__comment-author-info">
                <p class="testimonials__comment-author-name text-p-medium">
                  Renee Wells
                </p>
                <p class="testimonials__comment-author-pro text-p-default">
                  Product Designer, Quotient
                </p>
              </div>
            </address>
          </div>
        </div>
      </div>
      <div class="testimonials__btns">
        <button class="testimonials__btn testimonials__btn--prev"></button>
        <button class="testimonials__btn testimonials__btn--next"></button>
      </div>
    </div>
  </div>
</section>
